[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bookmarks-parser = {editable = true,path = "."}
pytest = "*"
codecov = "*"
pytest-cov = "*"
pathlib2 = "*"

[packages]
html5lib = "*"

[requires]
python_version = "3.7"
